@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');

#app{
    font-family: 'Noto Sans TC', sans-serif !important;
}

.navbar{
    background-color: turquoise;
}

.navbar .links{
    background-color: turquoise !important;
}